:root {
  --avatar-container-width: 350px;
  --eyes-width: 35%;
  --mouth-width: 25%;
  --eyes-number: 6;
  --mouth-number: 5;
  --eyes-index: 0;
  --eyes-number: 0;
  --mouth-index: 0;
  --mouth-number: 0;
  --avatar-transition-time: 0.3s;

  --face-border-color: var(--primary-color);
  --face-color: var(--secondary-color);
}
.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-item: center;
}

.avatar-container {
  position: relative;
  display: flex;
  width: var(--avatar-container-width);
  height: var(--avatar-container-width);
  background-color: #fff;
  border-radius: 50%;
}

.avatar-horn {
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
}

.avatar-face {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}

.avatar-eyes {
  width: var(--eyes-width);
  height: calc(var(--eyes-width) * 270 / 792);
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/avatar/css_sprites_eyes.png');
  background-position-y: calc(100% / var(--eyes-number) * var(--eyes-index));
}

.avatar-mouth {
  width: var(--mouth-width);
  height: calc(var(--mouth-width) * 297 / 540);
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/avatar/css_sprites_mouth.png');
  background-position-y: calc(100% / var(--mouth-number) * var(--mouth-index));
}

.login-container .avatar-eyes,
.login-container .avatar-mouth {
  transition: background-position-y var(--avatar-transition-time);
}

.login-container .avatar-mouth {
  transition-delay: var(--avatar-transition-time);
}

.avatar-horn,
.avatar-face,
.avatar-eyes,
.avatar-mouth {
  position: absolute;
}

.avatar-horn,
.avatar-face {
  background-color: var(--face-color);
  border: 4px solid var(--face-border-color);
  border-radius: 20%;
}

.avatar-eyes,
.avatar-mouth {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}

.min {
  border: 2px solid var(--face-border-color);
}
