@import url(./color.css);
@import url(./avatar.css);

/* 헤더 */
/* .logo {
  max-width: 100px;
  width: 30%;
} */
.header-logo {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
  color: var(--primary-color);
  font-family: 'Luckiest Guy', cursive;
  text-decoration: none;
  font-size: 44px;
}

/* 메인 */
.login-container {
  margin: 0 auto;
  width: var(--avatar-container-width);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 닉네임 섹션 */
.nickname input {
  width: var(--avatar-container-width);
  background-color: var(--gray);
}

.submit {
  background-color: var(--face-border-color);
  color: #fff;
}

.submit,
.reroll {
  width: calc(var(--avatar-container-width) / 2.2);
  cursor: pointer;
}

.nickname input,
.submit,
.reroll {
  margin: 20px 0;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 1em;
  height: 3.5em;
  border: none;
}
