@import url(./color.css);
@import url(./avatar.css);

* {
  box-sizing: border-box;
}
header {
  min-width: 800px;
}

body {
  min-width: 1200px;
  overflow: scroll;
  opacity: 0;
  font-family: 'Quantico', sans-serif;
}

/* nav */
h1 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.notransition {
  transition: none !important;
}

.header-logo {
  position: absolute;
  left: 88px;
  top: 20px;
  z-index: 2;
  font-size: 44px;
  font-weight: normal;
  color: var(--primary-color);
  font-family: 'Luckiest Guy', cursive;
}
/* .header-logo  */
/* .header-detail {
  position: absolute;
  top: 60px;
  left: 109px;
  z-index: 2;
} */

.header-profile {
  position: absolute;
  right: 20px;
  top: 13px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.header-avatar {
  width: 60px;
  position: relative;
  height: 60px;
  border-radius: 50%;
}

.header-nickname {
  padding: 0 10px 0 5px;
}

.badge {
  background: var(--primary-color);
  padding: 6px 10px;
  display: block;
  height: 28px;
  color: var(--white);
  /* line-height: 20px; */
  border-radius: 10px;
}

.nav-bar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: var(--secondary-color);
  z-index: 1;
  text-align: center;
}

.toggle {
  position: relative;
  font-size: 36px;
  top: 20px;
  /* padding: 5px; */
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.nav-container {
  margin-left: 50px;
  padding-bottom: 50px;
  left: -300px;
  width: 200px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: var(--gray3);
  transition: transform 0.3s;
}

.active .nav-container {
  transform: translate3d(300px, 0, 0);
}
.active .toggle {
  transition: transform 0.3s;
  transform: rotate(180deg);
}

.nav-profile {
  margin: 80px 0 30px 0;
  position: relative;
  width: 200px;
}
.nav-avatar {
  position: relative;
  margin: 0 auto;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: white;
}
.nav-nickname {
  padding: 30px 0 10px 0;
  font-size: 20px;
}
.nav-level {
}

.nav-menu {
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  display: block;
  position: relative;
  color: black;
  line-height: 20px;
  transition: all 0.3s;
}

.nav-menu:hover {
  transition: all 0.3s;
  background-color: var(--primary-color);
  font-size: 22px;
  color: var(--white);
}

.nav-menu-select {
  transition: all 0.3s;
  background-color: var(--secondary-color);
  color: black;
}

.nav-menu-commingsoon {
  color: gray;
}

.visited-popup {
  position: absolute;
  left: 280px;
  background-color: var(--black);
  padding: 0 20px;
  border-left: 5px solid var(--primary-color);
  top: -80px;
  transition: all 0.3s;
  color: white;
}

.visited-popup-slide {
  top: 10px;
}

.visited-popup-highlight {
  font-size: 20px;
  font-weight: 800;
  color: var(--primary-color);
}

.goal-container {
  min-width: 800px;
  display: flex;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  width: calc(100% - 50px);
  position: absolute;
  left: 50px;
  transition: all 0.3s;
  justify-content: space-evenly;
  padding-top: 70px;
}

.active ~ main > .goal-container {
  width: calc(100% - 250px);
  left: 250px;
  transition: all 0.3s;
}
/* .goal-interface {
  width: 800px;
  margin: 0 auto;
  background-color: gray;
} */

/* goal-interface */

.goal-interface {
  /* width: 350px; */
  width: 30vw;
}

.goal-interface input {
  border: 0;
  outline: 0;
}

.goal-input-container {
  font-size: 1.25rem;
}

.goal-input-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--black);
  padding: 20px 0 10px;
  margin-bottom: 10px;
}

.goal-input-container label {
  width: 12%;
}

.goal-input-container input {
  width: 60%;
}

.goal-input-container input::placeholder {
  color: #ccc;
}

.goal-input-container > div > *:last-child {
  width: 16%;
}

.goal-days-control {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1rem;
}

.goal-days-control > button {
  border: 0;
  background: transparent;
  cursor: pointer;
  height: 16px;
  padding: 0;
  color: var(--primary-color);
}

button.badge {
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

.goal-list-container {
  margin-top: 60px;
  text-align: center;
  height: 55vh;
  overflow: scroll;
}

.goal-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  font-size: 1.25rem;
}

.goal-list-item {
  color: var(--black);
  background-color: var(--gray2);
  transition: all 0.4s;
}

.goal-list-item > a {
  color: inherit;
  text-decoration: none;
}

.goal-list-item.active {
  color: var(--white);
  background-color: var(--primary-color);
}

.goal-info {
  display: flex;
  justify-content: space-between;
  padding: 17px;
  color: inherit;
  position: relative;
}

.goal-name {
  width: 80%;
  word-break: break-all;
}

.goal-list-item.active .progress-bar {
  background-color: var(--gray2);
  height: 35px;
}

.goal-list-item.active .goal-days {
  opacity: 0;
}

@keyframes boing {
  0% {
    transform: translateX(-2px) rotateZ(-5deg);
  }
  25% {
    transform: translateX(2px) rotateZ(5deg);
  }
  50% {
    transform: translateX(-2px) rotateZ(-5deg);
  }
  100% {
    transform: translateX(0) rotateZ(0);
  }
}

.goal-delete {
  display: none;
  border: 0;
  background: transparent;
  position: absolute;
  top: 19px;
  right: 13px;
  cursor: pointer;
  font-size: 1.25rem;
  color: inherit;
  width: 20px;
  height: 20px;
  padding: 0;
}

.boing {
  animation-name: boing;
  animation-duration: 500ms;
  animation-delay: 400ms;
  animation-iteration-count: 2;
}

.goal-list-item.active .goal-delete {
  display: block;
}

.progress-bar {
  position: relative;
  height: 12px;
  transition: height 0.4s;
}

.progress-bar > .progress-indicator {
  width: 70%;
  height: inherit;
  background-color: var(--secondary-color);
  transition: width 0.4s;
}

.goal-list-item.active .progress-label {
  height: 100%;
}

.progress-bar > .progress-label {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 6px;
  right: 10px;
  color: var(--black);
  transition: height 0.4s;
}

.hidden {
  display: none;
}

/* goal-grid */
.goal-grid-container {
  width: 40%;
  min-width: 400px;
  position: relative;
}

.hovered-info {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  z-index: 3;
}

@keyframes alarm {
  20% {
    transform: translateY(-10%) rotateZ(-15deg);
  }
  40% {
    transform: translateY(-5%) rotateZ(-10deg);
  }
  50% {
    transform: translateY(-5%) rotateZ(-20deg);
  }
  60% {
    transform: translateY(-5%) rotateZ(-10deg);
  }
  70% {
    transform: translateY(-5%) rotateZ(-20deg);
  }
  100% {
    transform: translateY(0%) rotateZ(-15deg);
  }
}

.info-badge {
  cursor: default;
  width: 70%;
  height: 4rem;
  line-height: 3rem;
  background-color: var(--white);
  font-size: 2rem;
  text-align: center;
  transform: rotate(-15deg);
  border-radius: 1rem;
  color: var(--primary-color);
  border: 8px double var(--primary-color);
  animation-name: alarm;
  animation-duration: 1.7s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}

.goal-grid {
  display: grid;
  gap: 0.1vw 0.1vw;
  grid-template-columns: repeat(9, 1fr);
  --grid-item-width: 3.5vw;
  opacity: 0;
  /* transition: all 300ms; */
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: visible;
}

.scroll-gradient {
  background: linear-gradient(transparent 33%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), transparent 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(86, 82, 72, 0.5), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(86, 82, 72, 0.5), rgba(0, 0, 0, 0)) 0 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 66px, 100% 66px, 100% 22px, 100% 22px;
}

.goal-grid-item {
  padding: 0;
  background-color: transparent;
  text-align: center;

  width: var(--grid-item-width);
  height: calc(var(--grid-item-width) * 1.25);
}
.day-button {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  font-size: 0.85rem;
  padding-top: 5px;
  border: solid 1px #ccc;
  transition: all 200ms;
}
.day-button:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: #fff;
}
.day-button:hover.checked {
  background-color: transparent;
  color: var(--primary-color);
}
.day-button:disabled {
  cursor: not-allowed;
}
.end-point {
  cursor: default;
  background-color: var(--primary-color);
  line-height: var(--grid-item-width);
  height: var(--grid-item-width);
  border-radius: 50%;
  align-self: center;
  color: #fff;
}

.day-button-checked {
  font-size: 1.5rem;
  position: absolute;
  z-index: -1;
  width: calc(var(--grid-item-width) * 0.55);
  height: calc(var(--grid-item-width) * 0.55);
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  color: transparent;
}

.checked > .day-button-checked {
  color: var(--primary-color);
}

.goal-rewards {
  display: inline-block;
  font-size: 1.25rem;
  border-bottom: 2px solid #000;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.goal-rewards > input {
  border: 0;
  outline: none;
  width: 70%;
}

.goal-rewards > input::placeholder {
  color: #ccc;
}

@media screen and (max-width: 1150px) {
  .goal-container {
    flex-direction: column;
    width: 100%;
    min-width: 0;
    margin-top: 115px;
    justify-content: flex-start;
    height: 77vh;
    overflow: scroll;
    padding-top: 0;
  }

  .goal-input-container {
    display: flex;
    flex-direction: column;
  }

  .goal-interface {
    width: 60vw;
  }

  .goal-list-container {
    height: 35vh;
    margin-top: 25px;
  }

  .goal-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .goal-list-item {
    width: 60vw;
  }

  .goal-grid-container {
    width: 60vw;
  }

  .goal-grid {
    --grid-item-width: 6vw;
    margin-top: 25px;
  }
}

@media screen and (max-width: 540px) {
}
