:root {
  --gray-color: gray;
  --basic-color: darkgray;
}
h1 {
  margin: 0;
}

/* color */

.header-logo {
  position: absolute;
  left: 125px;
  top: 20px;
  z-index: 2;
}

.header-profile {
  position: absolute;
  right: 20px;
  top: 25px;
  display: flex;
  align-items: center;
}

.header-avatar {
  margin-right: 5px;
  background-color: lightgray;
  width: 30px;
  position: relative;
  height: 30px;
  border-radius: 50%;
}

.header-nickname {
  padding: 0 10px;
}
.header-level {
  padding: 0 10px;
}

.nav-bar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: var(--gray-color);
  z-index: 1;
}

.nav-toggle-button {
  position: absolute;
  font-size: 20px;
  top: 15px;
  left: 5px;
  padding: 10px;
  background-color: gray;
  border: none;
  cursor: pointer;
}

.nav-Content {
  margin-left: 50px;
  display: none;
}

.active .nav-Content {
  background-color: lightgray;
  width: 250px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.nav-profile {
  margin: 80px 0 30px 0;
  position: relative;
  width: 250px;
}
.nav-avatar {
  margin: 0 auto;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: white;
}
.nav-nickname {
  padding: 30px 0 10px 0;
  font-size: 20px;
}
.nav-level {
}

.nav-menu {
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  display: block;
  position: relative;
  background-color: var(--basic-color);
  color: white;
}
