:root {
  --gray-color: gray;
  /* --basic-color: darkgray; */
  --light-yellow: #ffe986;
  --dark-yellow: #eecf43;
  --light-blue: #b7d4ff;
  --dark-blue: #6fa9ff;
  --light-pink: #ffb4cb;
  --dark-pink: #ff81a6;
  --light-green: #75ffc3;
  --dark-green: #21d889;
  --gray: #ededed;
}
h1 {
  margin: 0;
}
header,
nav {
  box-sizing: border-box;
}

.header-logo {
  position: absolute;
  left: 100px;
  top: 20px;
  z-index: 2;
  text-shadow: 5px 5px 0 darkgray;
  /* text-shadow: 0px 0px 10px black; */
}

.header-profile {
  position: absolute;
  right: 20px;
  top: 25px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

.header-avatar {
  margin-right: 5px;
  background-color: lightgray;
  width: 30px;
  position: relative;
  height: 30px;
  border-radius: 50%;
}

.header-nickname {
  padding: 0 10px;
}
.header-level {
  padding: 0 10px;
}

.nav-bar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: var(--gray-color);
  z-index: 1;
  text-align: center;
}

.toggle {
  position: relative;
  font-size: 36px;
  top: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.nav-Container {
  margin-left: 50px;
  left: -300px;
  width: 200px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  text-align: center;
  background-color: lightgray;
  transition: transform 0.5s;
}

.active .nav-Container {
  transform: translate3d(300px, 0, 0);
}
.active .toggle {
  transition: transform 0.5s;
  transform: rotate(180deg);
}

.nav-profile {
  margin: 80px 0 30px 0;
  position: relative;
  width: 200px;
}
.nav-avatar {
  margin: 0 auto;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: white;
}
.nav-nickname {
  padding: 30px 0 10px 0;
  font-size: 20px;
}
.nav-level {
}

.nav-menu {
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  display: block;
  position: relative;
  background-color: var(--light-yellow);
  color: white;
}

.goal-container {
  margin-top: 100px;
  width: calc(100% - 50px);
  position: absolute;
  left: 50px;
  transition: all 0.5s;
}
.active ~ .goal-container {
  width: calc(100% - 250px);
  left: 250px;
  transition: all 0.5s;
}
.goal-interface {
  width: 800px;
  margin: 0 auto;
  background-color: gray;
}
